*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.ind{
    
    margin:2rem 5rem 0 10rem;
    padding: 25px;
    line-height: 30px;
    height: 25vh;
     
}
 

.pro{
    height: 30px;
    width: 30px;
    border-radius: 12px;
}
.pot{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

 
#but{
  display: flex;
  margin-right: 1rem;
}
.nam{
    color: black;
}

.ic{
    margin-left: 1rem;
}
.ic a:hover{
    color: aliceblue;
}
.ic a{
    color: black;
    text-decoration: none;
}
.uname {
  text-decoration: none;
    color: black;
} 

.lin a{
    text-decoration: none;
    font-size: 15px;
}
 
.photo{
    margin:1rem 0 1rem 0;
    width: 40%;
    height: 200%;
    border:1px solid black;
    border-radius: 5px;
}

.btn{
    margin-right:0.6rem;
}

@media only screen and (max-width: 767px) {



    .photo{
        margin:1rem 0 1rem 0;
        width: 90%;
        height: 150%;
        
    }
    

    .ind{
    
        margin:2rem 0.5rem 0 0.5rem;
        padding: 25px;
        line-height:22px;
        
         
    }
}